.board {
    --square-side: min(20vh, 30vw);

    display: -ms-grid;
    display: grid;
    -ms-grid-columns: repeat(3, var(--square-side));
    grid-template-columns: repeat(3, var(--square-side));
    -ms-grid-rows: repeat(3, var(--square-side));
    grid-template-rows: repeat(3, var(--square-side));
    width: calc(var(--square-side)*3);
    margin-left: 50%;
    transform: translateX(-50%);
}
